<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static%}
  <link rel="stylesheet" href="{% static 'style_home.css'%}">
  <style>
    html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container2 {
	position: center;
	top: 0%;
	left: 0%;
	/* transform: translate(50%, 50%); */
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Leaderboard</a></li>
        
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <div class="container2">
        <table>
          <thead>
            <tr>
              <th>Response</th>
              <th>Ticker Name </th>
              <th>Ticker price</th>
              <th>weightage</th>
              
            </tr>
          </thead>
          <form>
          <tbody>
            <tr>
              <td>
                <select name="Stock1" id="stock1">
                  <option value="ADANIENT" id="ADANIENT" name="ADANIENT">ADANIENT</option>
                  <option value="ADANIPORTS" id="ADANIPORTS" name="ADANIPORTS">ADANIPORTS</option>
                  <option value="" id="stock" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                  <option value="" id="" name=""></option>
                </select>
              </td>
              <td>Cell 2</td>
              <td id="display1"></td>
              <td><input type="number" id=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="2"></td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td><input type="number" id=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="3"></td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td><input type="number" id=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="4"></td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td><input type="number" id=""></td>
            </tr>
            <tr>
              <td><input type="checkbox" id="5"></td>
              <td>Cell 2</td>
              <td>Cell 3</td>
              <td><input type="number" id=""></td>
            </tr>
            
          </tbody>
        </table>
      </form>
      </div>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <input type="submit">
      </div>
      <div class="well">
        <p>Portfolio vaule
          <br>=

        </p>
      </div>
    </div>
  </div>
</div>


<script>
  var request = require('request');

// replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
var url = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey=AOTVSSHCSOZ24OZP';

request.get({
    url: url,
    json: true,
    headers: {'User-Agent': 'request'}
  }, (err, res, data) => {
    if (err) {
      console.log('Error:', err);
    } else if (res.statusCode !== 200) {
      console.log('Status:', res.statusCode);
    } else {
      // data is successfully parsed as a JSON object:
      console.log(data);
    }
});
  var stocks= document.querySelectorAll("#stock")
  stocks.forEach((stock)=>{
    stock.addEventListener('click',(e)=>{

    },
  })
</script>
</body>
</html>
