<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
      }
      .bd-grid{
        max-width: 1024px;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
      }
</style>
    <title>Portfolio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Trading Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="leaderboard">Leaderboard</a>
            </li>
           
          <form class="form-inline my-2 my-lg-0">
        
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
          </form>
        </div>
      </nav>

      <div class="about__container bd-grid">
        <div class="skills__img">
          <br>Verification of outside rickshaws.<br>
          <br>Difficult for rickshaw drivers to find rides, heated disputes between drivers. Function in an unorganized manner.<br>
          <br>Prices specified by administration and amount that drivers actually charge are different.
        </div>

        <div>
            <h2 class="about__subtitle">Problems Specified:</h2>
            <span class="about__profession"> </span>
            <p class="about__text">E-rickshaws are the primary means of commute inside the campus. They have a large user base including students and residents. Manual rickshaws exist but are time-consuming and relatively expensive. The problems associated with the current system.
                <br>Digital payment is not accepted.<br>
                <br>
                Unavailability of e-rickshaws at certain hours or at certain places in the campus.<br>
                <br> Route of rickshaws is not optimized according to the different destinations of different users sitting in it.<br>

            </p>


        </div>
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>